.Redirect{
    display: flex;
    background: url('../../Assests/images/login.jpg');
    background-size:cover;
    background-repeat: none;
    height: 100%;  
    width: 100%; 

}
.RedirectMiddleContainer{
  display: flex;
  margin-top: 12%;
  width: 100%;
  height: 50%;
 background: rgba(155, 84, 147, 0.25);

}
.Redirectdiv
{

  margin-top: 1.5%;
  height: 90%;
  margin-left: 35%;
}


  



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Tajawal:wght@700&display=swap');