.LeftSideBarHeading{

   padding-top: 15%;
   padding-left: 10%;
    color: var(--color-SecondTableHeading);
    font-size:var(--size-SecondTableHeading) ;
    font-weight:bold ;
    font-family: Arial;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.SideBarDivHeading{
    padding-top: 5%;
    padding-left: 5%;
     color: var(--color-SecondTableHeading);
     font-size:var(--size-SecondTableHeading) ;
     font-weight:bold ;
     font-family: Arial;
     text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
 }
 .SideBarDivText{
    color: #291B27;
    padding-top: 5%;
    padding-left: 8%;
    font-size:14px;
    font-weight:bold ;
    font-family: Arial;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
 }