.EditPatient{
    display: flex;
}
.EditInPatientNotActivated{
    background:#000000;
    margin-left: 45%;
    border-radius: 26px;
    border: 0px;
    height: 35px;
    width: 120px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.EditInPatientNotActivated a{

    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFEFEF;
    text-decoration: none;
  }
